html,body{
    height: 100%;
  }
  .bbb{
    height: auto;
    width: 100%;
  }
  .header{
    position: sticky;
    top: 0;
    width: auto;
    height: 100px;
    
  }
  .navbar{
    background-color: black;
  }
  .main{
   display: flex;
  }
  .home{
    margin-top: -18px;
    width: auto;
    height: auto;
    background-color: rgb(29, 29, 29);
  }
  .about{
    width: auto;
    height: auto;
    margin-top: -18px;
    background-color: black;
  }
  .contact{
    width: auto;
    height: auto;
    background-color: rgb(29, 29, 29);
    margin-top: -18px;
  }
  table{
    border: 2px solid black;       
    margin-bottom: 100px;
  }
 .footer{
  display: flex;
  width: auto;
  height: 100px;
  background-color:black;
 }

 h4{
  color: white;
 }
 .m-2{
  color: whitesmoke;
 }
 p{
  margin-top: 28px;
  color: dimgray;
 }
 p:hover{
  color: white;
  transition: 0.3s;
 }
 .c{
  margin-top: 30px;
 }
 .bbkm,.montsuzlar,.yyyu,.ea,.sn{
  margin-left: 10px;
  background-color: black;
  box-shadow: 5px 5px 5px;
  border-radius: 10px 10px 0 0;
 }
 .bbkm{
  width: 100%;
  height: auto;
  box-shadow: 5px 5px 5px;
  border-radius: 10px 10px 0 0;
 }
 a{
  text-decoration: none;
  color: darkslategrey;
 }
 .p{
  margin-top: 40px;
  margin-left: 40px;
 }
 section{
  height: calc(100%-50px);  
 }